.iti {
    position: relative;
    display: block;
}

.invalid-feedback {
    display: block;
}

.file-upload {
    padding: 5px 10px;
    height: 40px;
}

.custom-pagination {
    margin-left: 10px;
    margin-top: 10px;
}