body {
    font-family: 'Roboto Slab', serif;
    background-color: #fff;
}

.primary-background-color {
    border-color: #d6ce15;
    background-color: #d6ce15
}

.secondary-background-color {
    border-color: #1f6521;
    background-color: #1f6521
}

.primary-color {
    color: #d6ce15
}

.secondary-color {
    color: #1f6521
}

.top-search {
    background-color: white;
    border-radius: 17px;
    padding-left: 15px;
}

.top-search:focus {
    background-color: #ffffff;
}

.banner {
    width: 100%;
    float: left;
    height: 500px;
    background: url(../images/girl-is-reading-book-cafe.jpg) no-repeat center;
    background-size: cover;
}

.banner-content {
    margin-top: 16rem;
}

.banner-content h1 {
    color: white;
    font-size: 60px;
}

.banner-content span {
    font-size: 40px;
}

.main-page-section {
    width: 100%;
    float: left;
}

.footer-bottom {
    width: 100%;
    float: left;
    padding: 13px 13px 0px 13px;
    background-color: black;
}

.subscribe-div {
    position: relative;
}

.footer-subscribe-section {
    position: absolute;
    height: 227px;
    background: url(../images/subscribe-bg.png) no-repeat center;
    background-size: cover;
    width: 100%;
    float: left;
    top: -117px;
    border-radius: 10px;
}

.main-page-section .section-container {
    padding: 80px 13px;
}

.trending-courses {
    background: url(../images/trending-bg.png) no-repeat right;
}

.suggested-courses {
    background: url(../images/new-course-bg.png) no-repeat left;
}

.new-courses {
    background-image: linear-gradient(to left, #1f6521, #1f652114);
}

footer {
    position: relative;
    background: url(../images/footer-bg.png) no-repeat right;
}

footer:before {
    background-color: rgb(255 255 255 / 70%);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: ' ';
}

.contact-us {
    position: relative;
    background: url(../images/trending-bg.png) no-repeat right;
}

.contact-us:before {
    background-image: linear-gradient(to right, #1f6521 80px, #d6ce152b);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: ' ';
}

.section-heading h2 {
    font-weight: 500;
    color: #000000;
    margin-bottom: 25px;
}

.course-content {
    margin-top: 25px;
    margin-bottom: 30px;
}

.trending-slider {
    margin: 25px 0px
}

.section-heading hr {
    margin: auto;
    color: #c1633a;
}

.card img {
    padding: 10px;
}

.crousal-element {
    padding-right: 10px
}

.slick-next,
.slick-prev {
    background-color: #d6ce15;
    border-radius: 14px;
    width: 25px;
    height: 25px;
}

.slick-next:focus,
.slick-next:hover,
.slick-prev:focus,
.slick-prev:hover {
    background-color: #e56d38;
}

.slick-prev:before {
    content: '<';
}

.slick-next:before {
    content: '>';
}

.slick-prev {
    z-index: 999;
    left: -5px;
}

.slick-next {
    right: -6px;
}

.slick-next:before,
.slick-prev:before {
    line-height: 0.4;
    color: #fff;
}

.contact-us .container {
    position: relative;
}

.contact-us .section-heading h2 {
    color: #000000
}

.contact-us p {
    color: #000000;
}

.form-control:read-only {
    background-image: linear-gradient( 0deg, #009688 2px, rgba(0, 150, 136, 0) 0), linear-gradient( 0deg, rgba(0, 0, 0, .26) 1px, transparent 0);
}

.contact-us-form label {
    color: white;
}

.margin-label {
    margin-bottom: 15px;
}

.contact-us-form .row {
    margin-bottom: 3rem;
}

.form-button {
    color: white;
    padding: 8px 36px;
    font-size: 18px;
}

.fas {
    color: #a2654a;
}

.phone {
    margin-top: 6px;
}

.phone-icon {
    margin-top: 16px;
    margin-right: 10px;
}

.phone-number {
    margin-bottom: 5px;
}

footer ul {
    padding-left: 22px;
}

.footer-bottom p {
    color: white;
}

.footer-bottom .fab {
    color: white;
    margin-right: 4px;
}

footer .main-footer {
    padding: 120px 15px 20px 15px!important;
}

.contact-us .contact-us-div {
    padding: 66px 20px 120px 20px;
}

.right-subscribe {
    position: relative;
    width: 100%;
    float: left;
    height: 227px;
}

.right-subscribe-bg {
    position: absolute;
    top: 0px;
    right: 0;
    bottom: 0;
    left: 0;
    content: ' ';
    background: url(../images/subscribe-bg-1.png) no-repeat left;
}

.subscribe-form {
    padding: 55px 5px 10px 35px;
}

.subscribe-content {
    padding: 40px 5px 10px 35px;
}

.subscribe-content h2 {
    font-weight: 900;
    font-size: 26px;
    color: #043045;
}

.subscribe-input {
    background-color: white;
    border-radius: 18px;
    padding-left: 8px;
    margin-bottom: 8px;
    color: #fdfeff
}

.subscribe-button {
    border-radius: 22px;
    background-color: #d6ce15;
}

.form-control {
    color: black!important;
}

.subscribe-input:focus {
    background-color: white;
}

.card {
    background-color: #a4a71e;
}

.navbar-brand {
    color: #ffffff;
}

.signup-btn {
    color: white;
    border-radius: 20px;
}

.bg-black {
    background-color: #000000;
}

.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-nav .nav-link.active {
    color: white;
}

li.nav-item {
    margin-right: 15px;
}

.facebook-icon {
    margin-top: 10px;
}

.fa-whatsapp {
    color: green;
}

.nav-top {
    background-color: #1f6521;
    display: block;
}

.navbar-container {
    padding-left: 0px;
    padding-right: 0px;
}

section.signup {
    min-height: 1250px;
    background: url(../images/signup-bg.png) no-repeat left;
    background-size: 614px;
}

.submit-form {
    padding: 20px 15px 20px 15px;
    box-shadow: 7px 7px 20px 0px rgb(0 0 0 / 20%), 7px 7px 20px 3px rgb(0 0 0 / 19%);
    background-color: #ffffff;
}

.submit-form h2 {
    margin-bottom: 30px;
    background: -webkit-linear-gradient( 0deg, #1f6521bf, #d6ce15f2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
}

.signup-form-element {
    margin-bottom: 20px;
}

.form-check.signup-form-element {
    padding-left: 2.5rem;
}

.signup-form-btn {
    background-image: linear-gradient( 90deg, #1f6521bf, #d6ce159c);
}

.input-border {
    background-image: none;
    border-bottom: 2px solid #1f6521;
}

#myVideo {
    position: relative;
    height: 100vh;
    float: left;
}


/* Add some content at the bottom of the video/page */

.login-div {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-right: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    color: #f1f1f1;
    text-align: center;
}

.login-container {
    padding: 0px 16px 0px 0px;
}

.login-right {
    margin-top: 50px;
    margin-left: 50px;
    padding: 45px 45px 45px 45px;
}

.login-right h2 {
    color: #208cf8;
}

input.form-control.input-left-border {
    border-left: 7px solid #208cf8;
    padding-left: 15px;
    background-image: none;
    background-color: #f7f7f7;
}

.login-right p,
.login-right .form-check-label,
.login-right a {
    color: #a7a4a4;
}

.login-right .form-check-label {
    color: #a7a4a4;
}

button.btn.signin-form-btn.me-2 {
    padding-left: 40px;
    padding-right: 40px;
    background-color: #208cf8;
    color: white;
    border-radius: 18px;
}

.iti {
    position: relative;
    display: block;
}

.forgot-password-pannel {
    margin-bottom: 160px;
    box-shadow: 7px 7px 20px 0px rgb(0 0 0 / 20%), 7px 7px 20px 3px rgb(0 0 0 / 19%);
}

.form-gap {
    padding-top: 70px;
}

.forgot-pannel-body {
    padding: 20px 15px 10px 15px;
}

section.reset-password {
    min-height: 750px;
}

.section-title {
    position: relative;
}

.section-title h2 {
    color: #1d2025;
    position: relative;
    margin: 0;
    font-size: 24px;
}

.section-title.title-ex1 h2 {
    padding-bottom: 20px;
}

.section-title.title-ex1 h2:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 12px;
    width: 110px;
    height: 1px;
    background-color: #d6dbe2;
}

.section-title.title-ex1 h2:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 12px;
    width: 40px;
    height: 1px;
    background-color: #0cc652;
}

.section-title.title-ex1.text-center h2:before {
    left: 50%;
    transform: translateX(-50%);
}

.section-title.title-ex1.text-center h2:after {
    left: 50%;
    transform: translateX(-50%);
}

.section-title.title-ex1.text-right h2:before {
    left: auto;
    right: 0;
}

.section-title.title-ex1.text-right h2:after {
    left: auto;
    right: 0;
}

.section-title.title-ex1 p {
    font-family: "Montserrat", sans-serif;
    color: #8b8e93;
    font-size: 14px;
    font-weight: 300;
}

.price-card {
    background: #f5f5f6;
    padding: 40px 35px;
    position: relative;
    border-radius: 2px;
    overflow: hidden;
}

.price-card:before {
    position: absolute;
    content: "";
    top: 0;
    right: -35px;
    width: 88px;
    height: 88px;
    background: #0cc652;
    opacity: 0.2;
    border-radius: 8px;
    transform: rotate(45deg);
}

.price-card:after {
    position: absolute;
    content: "";
    top: 30px;
    right: -35px;
    width: 88px;
    height: 88px;
    background: #0cc652;
    opacity: 0.2;
    border-radius: 8px;
    transform: rotate(45deg);
}

.price-card h2 {
    font-size: 26px;
    font-weight: 600;
}

.price-card .btn {
    font-size: 11px;
    border-radius: 100px;
    padding: 0 25px;
    border: 0;
    color: #fff;
    float: right;
}

.price-card .btn.btn-primary {
    border: 0 !important;
}

.price-card.featured {
    background: #fff;
    border: 1px solid #ebebeb;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.price-card:hover .btn {
    background: #d6ce15;
    border-color: #d6ce15;
}

p.price span {
    display: inline-block;
    padding: 45px 15px 50px;
    padding-right: 0;
    font-size: 50px;
    font-weight: 600;
    color: #0cc652;
    position: relative;
}

p.price span:before {
    position: absolute;
    content: "$";
    font-size: 16px;
    top: 25px;
    font-weight: 300;
    left: 0;
}

.pricing-offers {
    padding: 0 0 10px;
}

.pricing-offers li {
    padding: 0 0 16px;
    line-height: 18px;
}

.pricing-section ul li {
    list-style-type: none;
}

.btn.btn-mid {
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    background-color: #1f6521;
}

.pricing-section {
    min-height: 900px;
    margin-top: 22px;
}

.payment-form {
    padding: 40px 25px;
}

.payment-form-header {
    padding: 0.75rem 1.25rem 3.75rem 1.25rem;
}

.btn .payment {
    font-size: 20px;
    color: #ffffff;
    background-color: #1f6521;
}


/* media Query */

@media (min-width: 768px) {
    .section-title.title-ex1 h2:after {
        bottom: 17px;
    }
    .section-title.title-ex1 h2:before {
        bottom: 17px;
    }
    .section-title h2 {
        font-size: 28px;
    }
    .section-title.title-ex1 h2 {
        padding-bottom: 30px;
    }
}

@media (min-width: 992px) {
    .section-title.title-ex1 h2 {
        padding-bottom: 40px;
    }
    .navbar-expand-lg .navbar-collapse {
        display: block!important;
        flex-basis: auto;
    }
    .section-title.title-ex1 h2:after {
        bottom: 25px;
    }
    .section-title.title-ex1 h2:before {
        bottom: 25px;
    }
    .section-title h2 {
        font-size: 34px;
    }
}

@media screen and (max-width: 768px) {
    .login-right {
        margin-left: 15px;
    }
    #myVideo,
    .login-left {
        display: none;
    }
    .subscribe-form {
        padding: 20px 5px 10px 35px;
    }
    .subscribe-content {
        padding: 16px 5px 10px 35px;
    }
    .right-subscribe-bg {
        background-size: 322px 223px;
    }
}

@media screen and (max-width: 426px) {
    .main-page-section .section-container {
        padding: 41px 13px 70px 13px;
    }
    .footer-subscribe-section {
        height: 164px;
        width: 93%;
        top: -78px;
    }
    .subscribe-content {
        display: none;
    }
    .subscribe-form {
        padding: 40px 5px 10px 35px;
    }
    .right-subscribe-bg {
        background-size: 168px 103px;
    }
}