.course-img {
    max-width: 80px;
    height: auto;
}

.popular-course {
    display: flex;
}

.course-card {
    display: flex;
}

.course-meta {
    margin-left: 10px;
}

.milestone-header {
    flex-wrap: nowrap;
}

.tutor-img {
    width: 35px;
    height: 34px;
}

.tutor-meta {
    margin-left: 10px;
}

.tutor-single.d-flex.w-100 {
    margin-top: 15px;
}

.tutor-body {
    overflow-y: scroll;
}

.tutor-card {
    max-height: 60%;
}

.row.bottom-section {
    height: 500px;
}

.fas[data-count] {
    position: relative;
}

.fas[data-count]:after {
    position: absolute;
    right: -1.0em;
    top: -1.2em;
    content: attr(data-count);
    padding: .5em;
    border-radius: 10em;
    line-height: .9em;
    color: white;
    background: rgba(255, 0, 0, .75);
    text-align: center;
    min-width: 2em;
    font: bold 0.5em sans-serif;
}


/* width */

::-webkit-scrollbar {
    width: 10px;
}


/* Track */

 ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: #1f6521;
    border-radius: 10px;
}

.iti {
    position: relative;
    display: block;
}

.invalid-feedback {
    display: block;
}